//COLORS
$color-white: hsl(0, 0%, 100%);
$color-gray-light: hsl(212, 45%, 89%);
$color-blue-grayish: hsl(220, 15%, 55%);
$color-blue-dark: hsl(218, 44%, 22%);
$big-text-weight: 700;
$normal-text-weight: 400;


//CARD
$base-width: 27rem;
$base-height: 30rem;
$base-border-radius: 2rem;
$header-medium: 2rem;
$description-small: 1.5rem;

//CARD HEADER IMAGE
$base-image-height: 27rem;
$base-image-padding: 1.5rem;

//CARD HEADER TEXT
$base-header-line-height: 2.3rem;