//COLORS
$color-white: hsl(0, 0%, 100%);
$color-gray-light: hsl(212, 45%, 89%);
$color-blue-grayish: hsl(220, 15%, 55%);
$color-blue-dark: hsl(218, 44%, 22%);


//Card
$base-width: 25rem;
$base-height: 30rem;
$base-border-radius: 2rem;
$base-font-size: 1.6rem;
$header-medium: 1.8rem;
$description-small: 1.3rem;